.cardContainer {
    margin: 10px auto;
    width: 45%;
    min-height: 30rem;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.number {
    font-size: 6rem;
    font-weight: bold;
}
.number::before, .number::after {
    font-size: 5rem;
    position: absolute;
}
.number::before {
    top: 0;
    left: 1rem;
}
.number::after {
    bottom: 0;
    right: 1rem;
}

.heart::before, .heart::after {
    content: "\2665";
    color: red;
}
.diams::before, .diams::after { 
    content: "\2666";
    color: red;
}
.clubs::before, .clubs::after { 
    content: "\2663";
    color: black;
}
.spades::before, .spades::after { 
    content: "\2660";
    color: black;
}
